table {
	font-family:"Geometr231 Hv BT";
	color: #05080c;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-collapse: collapse;
	cellspacing: 0px;
}

tr {
	border: 1px solid #ffffff0e;
	text-align: center;
	background-color:#0000000f; 
}

th {
	text-align: center;
	color: #ffffff;
	background-color: #000000;
}
ul {
	list-style-image: url('sqpurple.gif');
  }